default:
  image: docker:latest
  tags:
    - runner-l

stages:
  - build-common
  - compile-services
  - build-images
  - deploy

build-dependance:
  image: maven:3.8.5-openjdk-17
  stage: build-common
  script:
    - cd ./Common
    - mvn compile
  artifacts:
    name: common
    paths:
      - ./Common/

  only:
    - dev
  when: manual

compile-auth:
  image: maven:3.8.5-openjdk-17
  stage: compile-services
  script:
    - cd ./Common
    - mvn install
    - cd ../Auth
    - mvn compile
    - mvn install -DskipTests
    - cd ./target
    - mv *.jar auth.jar
  artifacts:
    name: auth
    paths:
      - ./Auth/target/auth.jar

  only:
    - dev
  when: manual

build-auth-image:
  stage: build-images
  script:
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker buildx create --name builder-user --use
    - docker buildx inspect --bootstrap
    - echo "$DOCKER_PASSWORD" | docker login registry.cpe.granux.fr -u "$DOCKER_USERNAME" --password-stdin
    - docker buildx build --push --platform linux/amd64,linux/arm64,linux/arm/v7 -f ./Dockerfile/auth/Dockerfile -t registry.cpe.granux.fr/hllmp/konzik-back:auth ./Auth/target/

  only:
    - dev
  when: manual