image: docker:latest

stages:
#  - build-common
#  - build-gateway
#  - build-eureka
#  - build-auth
#  - build-ticketmaster
#  - build-chat
#  - build-concert
  - build-depandance
  - build-route
  - build-app

build-common:
  stage: build-depandance
  script:
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker buildx create --name builder-user --use
    - docker buildx inspect --bootstrap
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker buildx build --push --platform linux/amd64,linux/arm64 -f ./Dockerfile/common/Dockerfile -t thomasoss/back-konzik:common .
  when: manual
  
build-eureka:
  stage: build-route
  script:
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker buildx create --name builder-user --use
    - docker buildx inspect --bootstrap
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker buildx build --push --platform linux/amd64,linux/arm64 -f ./Dockerfile/eureka/Dockerfile -t thomasoss/back-konzik:eureka .
  when: manual

build-gateway:
  stage: build-route
  script:
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker buildx create --name builder-user --use
    - docker buildx inspect --bootstrap
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker buildx build --push --platform linux/amd64,linux/arm64 -f ./Dockerfile/gateway/Dockerfile -t thomasoss/back-konzik:gateway .
  when: manual

build-auth:
  stage: build-app
  script:
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker buildx create --name builder-user --use
    - docker buildx inspect --bootstrap
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
#    - docker buildx build --push --platform linux/amd64,linux/arm64,linux/arm/v7 -f ./Dockerfile/auth/Dockerfile -t thomasoss/back-konzik:auth .
    - docker buildx build --push --platform linux/amd64,linux/arm64 -f ./Dockerfile/auth/Dockerfile -t thomasoss/back-konzik:auth .
  when: manual
  
build-ticketmaster:
  stage: build-app
  script:
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker buildx create --name builder-user --use
    - docker buildx inspect --bootstrap
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker buildx build --push --platform linux/amd64,linux/arm64 -f ./Dockerfile/ticketmaster/Dockerfile -t thomasoss/back-konzik:ticketmaster .
  when: manual

build-chat:
  stage: build-app
  script:
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker buildx create --name builder-user --use
    - docker buildx inspect --bootstrap
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker buildx build --push --platform linux/amd64,linux/arm64 -f ./Dockerfile/chat/Dockerfile -t thomasoss/back-konzik:chat .
  when: manual

build-concert:
  stage: build-app
  script:
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker buildx create --name builder-user --use
    - docker buildx inspect --bootstrap
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker buildx build --push --platform linux/amd64,linux/arm64 -f ./Dockerfile/concert/Dockerfile -t thomasoss/back-konzik:concert .
  when: manual
    
  only:
    - dev

variables:
  DOCKER_USERNAME: $DOCKER_USERNAME
  DOCKER_PASSWORD: $DOCKER_PASSWORD

default:
  tags:
    - runner-l
