default:
  image: docker:latest
  tags:
    - runner-l

stages:
  - build-common
  - compile
  - build-image
  - deploy

build-dependance:
  image: maven:3.8.5-openjdk-17
  stage: build-common
  script:
    - cd ./Common
    - mvn compile
  artifacts:
    name: common
    paths:
      - ./Common/
  when: manual